<div class="card py-2">
  <h2>Available Rides</h2>

  <app-filter-panel (filterChange)="refreshRides($event)" (addRideClick)="toggleAddRideForm()"></app-filter-panel>

  <div *ngIf="showAddRideForm" class="mt-4">
    <app-add-ride (rideAdded)="onRideAdded()" (cancelled)="onRideAdded()"></app-add-ride>
  </div>

  <div *ngIf="rides$ | async as rides; else loadingOrNoRides" class="mt-4">
    <div *ngIf="rides.length > 0; else noRides">
      <div *ngFor="let ride of rides" class="card ride-card-item">
        <h3>{{ ride.pickupPoint }} to {{ ride.destination }}</h3>
        <p>Created by: {{ ride.employeeId }}</p>
        <p>Time: {{ ride.time | date:'shortTime' }}</p>
        <p>Vehicle: {{ ride.vehicleType }} ({{ ride.vehicleNo }})</p>
        <p>Vacant Seats: {{ ride.vacantSeats }}</p>
        <p *ngIf="ride.bookedEmployeeIds.length > 0">Booked by: {{ ride.bookedEmployeeIds.join(', ') }}</p>

        <button *ngIf="!hasBooked(ride) && ride.vacantSeats > 0" (click)="bookRide(ride.id)">
          Book Ride
        </button>
        <button *ngIf="hasBooked(ride)" disabled class="disabled-button">Booked</button>
        <button *ngIf="ride.vacantSeats === 0 && !hasBooked(ride)" disabled class="disabled-button">Full</button>
      </div>
    </div>
    <ng-template #noRides>
      <p>No rides available with current filters.</p>
    </ng-template>
  </div>
  <ng-template #loadingOrNoRides>
    <p>Loading rides or no rides available...</p>
  </ng-template>
</div>

<div *ngIf="bookedRideByUser$ | async as bookedRide" class="card mt-4 booked-ride-card">
  <h3>Your Booked Ride For Today</h3>
  <p>From: {{ bookedRide.pickupPoint }} to {{ bookedRide.destination }}</p>
  <p>Time: {{ bookedRide.time | date:'shortTime' }}</p>
  <p>Vehicle: {{ bookedRide.vehicleType }} ({{ bookedRide.vehicleNo }})</p>
</div>
