<div class="card py-2">
  <h2>Available Rides</h2>

  <app-filter-panel (filterChange)="refreshRides($event)" (addRideClick)="toggleAddRideForm()"></app-filter-panel>

  <app-modal *ngIf="showAddRideForm" title="Add New Ride" (close)="toggleAddRideForm()">
    <app-add-ride (rideAdded)="onRideAdded()" (cancelled)="toggleAddRideForm()"></app-add-ride>
  </app-modal>
  <div *ngIf="bookedRideByUser$ | async as bookedRide" class="card mt-4 booked-ride-card">
    <h3>Your Booked Ride For Today</h3>
    <p>From: {{ bookedRide.pickupPoint }} to {{ bookedRide.destination }}</p>
    <p>Time: {{ bookedRide.time | date:'shortTime' }}</p>
    <p>Vehicle: {{ bookedRide.vehicleType }} ({{ bookedRide.vehicleNo }})</p>
  </div>
  <div *ngIf="rides$ | async as rides; else loadingOrNoRides" class="mt-4">
    <div *ngIf="rides.length > 0; else noRides">
      <div *ngFor="let ride of rides" class="card ride-card-item">
        <h3>{{ ride.pickupPoint }} to {{ ride.destination }}</h3>
        <p><span class="ride-label">Created by:</span><span class="ride-value">{{ ride.employeeId }}</span></p>
        <p><span class="ride-label">Time:</span><span class="ride-value">{{ ride.time | date:'shortTime' }}</span></p>
        <p><span class="ride-label">Vehicle:</span><span class="ride-value">{{ ride.vehicleType }} ({{ ride.vehicleNo }})</span></p>
        <p><span class="ride-label">Vacant Seats:</span><span class="ride-value">{{ ride.vacantSeats }}</span></p>

        <div *ngIf="ride.bookedEmployeeIds.length > 0" class="booked-by-section mt-2">
          <span class="booked-label">Booked by (Captured Id/Ids):</span>
          <div class="badge-container">
            <span *ngFor="let empId of ride.bookedEmployeeIds" class="employee-badge">
              ID: {{ empId }}
            </span>
          </div>
        </div>
        <button *ngIf="!hasBooked(ride) && ride.vacantSeats > 0" [disabled]="(hasAlreadyBookedToday$ | async)"
          [class.disabled-button]="(hasAlreadyBookedToday$ | async)" (click)="bookRide(ride.id)">
          Book Ride
        </button>
        <button *ngIf="hasBooked(ride)" disabled class="disabled-button">Booked</button>
        <button *ngIf="ride.vacantSeats === 0 && !hasBooked(ride)" disabled class="disabled-button">Full</button>
      </div>
    </div>
    <ng-template #noRides>
      <p>No rides available with current filters.</p>
    </ng-template>
  </div>
  <ng-template #loadingOrNoRides>
    <p>Loading rides or no rides available...</p>
  </ng-template>
</div>